<div class="row my-5">
    <div class="col-md-6 pr-0">
        <div class="row">
            <div class="col-md-12" [routerLink]="['/detalle',arrayMovie[0].id]">
                <span class="position-absolute py-2 px-3 bg-dark text-white">{{arrayMovie[0].title}}</span>
                <img src="https://image.tmdb.org/t/p/w500/{{arrayMovie[0].backdrop_path}}" class="w-100" alt="">
            </div>
            <div class="col-md-6 pr-0" [routerLink]="['/detalle',arrayMovie[1].id]">
                <span class="position-absolute py-2 px-3 bg-dark text-white">{{arrayMovie[1].title}}</span>
                <img src="https://image.tmdb.org/t/p/w300/{{arrayMovie[1].backdrop_path}}" class="w-100" alt="">
            </div>
            <div class="col-md-6 pl-0" [routerLink]="['/detalle',arrayMovie[2].id]">
                <span class="position-absolute py-2 px-3 bg-dark text-white">{{arrayMovie[2].title}}</span>
                <img src="https://image.tmdb.org/t/p/w300/{{arrayMovie[2].backdrop_path}}" class="w-100" alt="">
            </div>
        </div>
    </div>
    <div class="col-md-6 pl-0">
        <div class="row">
            <div class="col-md-6 pr-0" [routerLink]="['/detalle',arrayMovie[3].id]">
                <span class="position-absolute py-2 px-3 bg-dark text-white">{{arrayMovie[3].title}}</span>
                <img src="https://image.tmdb.org/t/p/w300/{{arrayMovie[3].backdrop_path}}" class="w-100" alt="">
            </div>
            <div class="col-md-6 pl-0" [routerLink]="['/detalle',arrayMovie[4].id]">
                <span class="position-absolute py-2 px-3 bg-dark text-white">{{arrayMovie[4].title}}</span>
                <img src="https://image.tmdb.org/t/p/w300/{{arrayMovie[4].backdrop_path}}" class="w-100" alt="">
            </div>
            <div class="col-md-12" [routerLink]="['/detalle',arrayMovie[5].id]">
                <span class="position-absolute py-2 px-3 bg-dark text-white">{{arrayMovie[5].title}}</span>
                <img src="https://image.tmdb.org/t/p/w500/{{arrayMovie[5].backdrop_path}}" class="w-100" alt="">
            </div>
        </div>
    </div>
</div>